{% extends "layout.html" %}
{% block body %}
{% block custom_top %}{% endblock %}
{% set designs = context['designs'] %}
{% set is_review_enabled = context['is_review_enabled'] %}
{% set is_reviews_collapsed = context['is_reviews_collapsed'] %}
{% for design in designs: %}
<div class="design">
  <div class="designViewer">
    <img class="img-fluid" src="{{design['thumbnail_filepath']}}"></img>
  </div>
</div>
{% if is_reviews_collapsed %}
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse_{{loop.index0}}" aria-expanded="false" aria-controls="collapse_{{loop.index0}}">
    See reviews for this design
  </button>
</p>
<div class="collapse" id="collapse_{{loop.index0}}">
{% else %}
<div class="collapse show" id="collapse_{{loop.index0}}">
{% endif %}
  <div class="card card-body">
    {% if is_review_enabled %}
    <div class="newReview">
      <form action="/post/review/{{design['uri']}}" method="post">
        <div class="form-group">
          <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email to receive updates">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else. Enter if you want to receive notifications when other people reply to this thread</small>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="reviewText" class="newReviewText" rows="3" aria-describedby="newReviewHelp" placeholder="Wonderful design! I like it!"></textarea>
          <small id="newReviewHelp" class="form-text text-muted">Constructive reviews do the most help!</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit a Review</button>
      </form>
    </div>
    {% endif %}
    <div class="reviews">
      {% if design['reviews']|length == 0 %}
        {% if is_review_enabled %}
        <h5>Be the first one to write a review!</h5>
        {% else %}
        <h5>Oops, no review so far</h5>
        {% endif %}
      {% else %}
      <ul class="list-group">
        {% for review in design['reviews']: %}
          <li class="list-group-item">
            <div class="review">
              <p class="lead">{{review['body']}}</p>
              <p><small>posted at {{review['timestamp']}}</small></p>
            </div>
          </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}
