<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
    body {

    }
    #topBanner {
      background-color: grey;
      height: 70px;
    }
    #titleText {
      color: white;
    }
    #headingText {
      color: grey;
    }
  </style>
  </head>
  <body>
    <div class="col-12 d-flex justify-content-center align-items-center" id="topBanner">
      <h1 id="titleText">Honey Boba</h1>
    </div>
    <div class="container-fluid mb-4 mt-4" id="heading">
      <h5 id="headingText">Here is a summary of your designs:</h5>
    </div>
    <div class="col-12 container-fluid" id="body">
      {% for uri in designs_dict %}
      <div class="card mb-2">
        <div class="card-body">
          <h4>{{designs_dict[uri][reviews]|length}} new comments on <a href="https://www.honey-boba.com/uploaded/{{uri}}">{{designs_dict[uri]['name']}}</a></h4>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-12 d-flex justify-content-end" id="footer">
      <small>One boba a day.</small>
    </div>
  </body>
</html>
