{% extends "design_list.html" %}
{% block custom_top %}
<div>
  <p>Remove this design <a href="/uploads/delete/{{context['uri']}}" class="btn btn-danger btn-lg disabled" role="button" aria-disabled="true">Delete It!</a>
  </p>
  <p>Click to see other people's design  <a class="btn btn-primary" href="/designs" role="button">See Other Designs</a></p>
  <form method=post enctype=multipart/form-data>
    <div class="form-group">
      <p>Update your own design? No problem! As easy as 2 steps:</p>
      <p>1:</p>
      <input type="file" name="file" class="form-control-file" id="fileField" aria-describedby="uploadHelp">
      <small id="uploadHelp" class="form-text text-muted">Make sure you upload a .jpg or .pdf file.</small>
    </div>
    <p>2:</p>
    <button type="submit" class="btn btn-primary">Update File</button>
  </form>
</div>
{% endblock %}
